.container {
    max-width: 85rem !important;
    margin: 1.25rem auto !important;
    padding: 0 !important;
    font-family: 'Inter', sans-serif;
}

.custom-head {
    font-size: 1.25rem;
    color: #333333;
    text-decoration: none;
    font-weight: 410;
}

.custom-head:hover {
    color: #EFA300;
}

.hh2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 6.25rem 0 3.125rem 7.188rem;
    text-transform: uppercase;
    text-align: left;
}

.hhh2 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.img1 {
    max-width: 34.625rem;
    max-height: 48.3125rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img3 {
    margin-top: 1.25rem;
}

.img4 {
    max-width: 26.25rem;
    margin-bottom: 1.25rem;
}

.time {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

.month {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.theme {
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
}

.btn {
    background: #001AFF;
    color: #F8F8F8;
    padding: 1.25rem 9.5rem;
    margin-top: 3.125rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.btn2 {
    background: #001AFF;
    color: #F8F8F8;
    padding: 1.25rem 6.375rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.btn:hover {
    background: #EFA300 !important; 
}

.btn2:hover {
    background: #EFA300 !important; 
}

.btn:active {
    background: #F8F8F8 !important;
    color: #001AFF !important;
    outline: 5px solid #001AFF !important;
}

.btn2:active {
    background: #F8F8F8 !important;
    color: #001AFF !important;
    outline: 5px solid #001AFF !important;
}

.hh4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0px 0px 2.19rem 0px;
    text-transform: uppercase;
    text-align: left;
}

.comment {
    font-size: 1.5rem;
    margin-top: 1.875rem;
    text-align: left;
}

.ppp {
    font-size: 1.25rem;
    text-align: left;
}

.logo {
    max-width: 13.13rem;
    margin: 2.44rem 0;
}

.foot {
    color: #333333;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
}

.foot:hover { 
    color: #EFA300 !important; 
}

.icon:hover { 
    color: #EFA300; 
}

.spravka {
    color: #333333;
    font-size: 1.25rem;
    font-weight: 410;
    text-decoration: none;
    text-align: left;
}

.spravka:hover { 
    color: #EFA300 !important; 
}

.custom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48.125rem;
    height: 28.375rem;
    background-color: #F8F8F8;
    border: 2px solid #333333;
    border-radius: 0;
    padding: 3.125rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-modal.show {
    opacity: 1;
}

#confirmationModal {
    height: 21.94rem;
}

#number {
    max-width: 67rem;
    max-height: 4.4rem;
    margin-top: 3.125rem;
}