* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    background: #F8F8F8;
    max-width: 85rem;
    width: 100%;
    font-weight: 400;    
    margin: 0 auto;        
    font-family: 'Inter', sans-serif;
    text-align: center;
}

header {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}


.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
    gap: 1.25rem;
    margin: 0 auto;
    padding: 0;
}
.price {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    text-align: left;
}

.name {
    font-size: 1.25rem;
    padding: 1.25rem 0;
}

.card {
    max-width: 27.5rem;
    margin-top: 1.875rem;
    width: 100%;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #EFA300;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 4.375rem 0 3.125rem 7.1875rem;
    text-transform: uppercase;
    text-align: left;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 2.1875rem 0;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    background: #001AFF;
    color: #F8F8F8;
    font-size: 1.25rem;
    width: 100%;
    min-height: 4rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn:hover { 
    background: #EFA300; 
}

.btn:active {
    background: #F8F8F8;
    color: #001AFF;
    outline: 5px solid #001AFF;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.3125rem, 1fr));
    margin-top: 6.25rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.logo {
    max-width: 13.125rem;
    width: 100%;
    height: auto;
}

.foot {
    text-align: left;
    text-transform: none;
}

.flinks1, .flinks2, .flinks3 {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 0.625rem;
    text-align: left;
}

.flinks1 {
    text-transform: uppercase;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.875rem;
}

.icon:hover { 
    color: #EFA300; 
}